@use "breakpoints" as *;
body {
  background-color: var(--color-dark);
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.image-5 {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: -1;
  width: 50%;
}
.bgleft {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: -1;
  width: 50%;
  @include breakpoint(900px) {
    position: absolute;
  }
}
