*,
html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scrollbar-width: none;
 
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  overflow: -moz-scrollbars-none;
  width: 0px;
  background: transparent;
  -webkit-appearance: none;
  display: none;
}
body::-webkit-scrollbar {
  width: 0px;
  overflow: -moz-scrollbars-none;
  background: transparent;
  display: none;
  -webkit-appearance: none;
}
div::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  overflow: -moz-scrollbars-none;
  -webkit-appearance: none;
  display: none;
}
.section {
  margin: 15px;
}
.scroll {
  position: relative;
  top: 34px;
  &:hover {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.05)
      scaleY(1.05);
  }
}
