@use "fonts" as *;
@use "breakpoints" as *;
footer {
  border-top: 2px solid rgba($color: #ffff, $alpha: 0.1);
  margin: 0px 40px;
  position: relative;
  display: flex;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  .footer__wrapper {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    h2 {
      font-family: $font-tertiary;
      font-weight: 400;
      font-size: 16px;
      color: var(--color-white);
      text-transform: capitalize;
      font-size: 16px;
      a {
        text-decoration: none;
        color: var(--color-white);
        &:hover {
          color: var(--color-red);
        }
      }

      @include breakpoint(900px) {
        font-size: 15px;
      }
    }
  }
}
