@use "fonts" as *;
@use "breakpoints" as *;
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}
.headerwrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  justify-content: center;

  @include breakpoint(900px) {
    width: 100%;
  }
  &__title {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    &__logo {
      cursor: pointer;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      margin: 10px 0px;
      &:hover {
        transform: scale(1.02);
      }
    }
    &__links {
      margin: 30px 0px;
      a {
        text-decoration: none;
        &:hover {
          filter: saturate(0);
        }
      }
    }

    &__btn {
      margin: 0;
      button {
        background: var(--color-red);
        color: var(--color-white);
        border: none;
        border-radius: 10000px;
        height: 36px;
        padding: 0px 20px;
        font-size: 15px;
        font-family: $font-tertiary;
        color: black;
        backdrop-filter: 8px;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        &:hover {
          background: #fff;
          color: var(--color-dark);
          padding: 0px 25px;
        }
      }
    }
    h1 {
      font-family: $font-tetra;
      font-size: 3.74rem;
      font-weight: 400;
      color: white;
      margin: 0;
      @include breakpoint(900px) {
        font-size: 30px;
        line-height: 36px;
      }
    }
    h2 {
      color: var(--color-red);
      font-size: 17px;
      margin: 10px 0px;
      font-family: $font-tertiary;
      font-weight: 400;
    }
    h3 {
      color: var(--color-grey);
      font-size: 14px;
      font-family: $font-penta;
      line-height: 1.5rem;
      text-transform: capitalize;
    }
  }
}
